<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Авторизация</title>
</head>

<body>
    <div class="header">
        <div class="logo" id="logo">
            <svg width="254" height="80" viewBox="0 0 254 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="33.5" cy="39.5" r="33.5" fill="#D09DE2" />
                <path d="M12.2188 48.4688C13.9896 49.4688 15.7812 50.375 
                    17.5938 51.1875C19.4271 51.9792 21.3229 52.6562 
                    23.2812 53.2188C25.2396 53.7604 27.2917 54.1771 
                    29.4375 54.4688C31.6042 54.7604 33.9062 54.9062 
                    36.3438 54.9062C39.2812 54.9062 41.7812 54.7188 
                    43.8438 54.3438C45.9062 53.9479 47.5833 53.4167 
                    48.875 52.75C50.1875 52.0625 51.1354 51.25 51.7188 
                    50.3125C52.3229 49.375 52.625 48.3542 52.625 47.25C52.625 
                    45.4792 51.8854 44.0833 50.4062 43.0625C48.9271 42.0208 
                    46.6458 41.5 43.5625 41.5C42.2083 41.5 40.7812 41.5938 
                    39.2812 41.7812C37.7812 41.9479 36.2604 42.1354 34.7188 
                    42.3438C33.1979 42.5521 31.6875 42.75 30.1875 42.9375C28.7083 
                    43.1042 27.3125 43.1875 26 43.1875C23.8125 43.1875 21.7083 
                    42.9062 19.6875 42.3438C17.6875 41.7812 15.9062 40.9375 
                    14.3438 39.8125C12.8021 38.6875 11.5729 37.2812 10.6562 
                    35.5938C9.73958 33.9062 9.28125 31.9375 9.28125 29.6875C9.28125 
                    28.3542 9.45833 27.0312 9.8125 25.7188C10.1875 24.4062 10.7708 
                    23.1562 11.5625 21.9688C12.375 20.7604 13.4167 19.6458 14.6875 
                    18.625C15.9583 17.5833 17.4896 16.6875 19.2812 15.9375C21.0938 
                    15.1875 23.1771 14.6042 25.5312 14.1875C27.9062 13.75 30.6042 
                    13.5312 33.625 13.5312C35.8125 13.5312 38.0104 13.6562 40.2188 
                    13.9062C42.4271 14.1354 44.5729 14.4688 46.6562 14.9062C48.7604 
                    15.3438 50.7812 15.875 52.7188 16.5C54.6562 17.1042 56.4583 17.7812 
                    58.125 18.5312L53.7812 26.5312C52.4062 25.9271 50.9271 25.375 49.3438 
                    24.875C47.7604 24.3542 46.1042 23.9062 44.375 23.5312C42.6458 23.1562 
                    40.8542 22.8646 39 22.6562C37.1667 22.4271 35.2917 22.3125 33.375 
                    22.3125C30.6458 22.3125 28.3958 22.5104 26.625 22.9062C24.875 23.3021 
                    23.4792 23.8125 22.4375 24.4375C21.3958 25.0417 20.6667 25.7292 20.25 
                    26.5C19.8542 27.25 19.6562 28 19.6562 28.75C19.6562 30.2083 20.3125 
                    31.4062 21.625 32.3438C22.9375 33.2604 24.9375 33.7188 27.625 
                    33.7188C28.7083 33.7188 29.9479 33.6458 31.3438 33.5C32.7604 33.3333 
                    34.2396 33.1562 35.7812 32.9688C37.3438 32.7812 38.9271 32.6146 
                    40.5312 32.4688C42.1562 32.3021 43.7292 32.2188 45.25 32.2188C48.125 
                    32.2188 50.6667 32.5417 52.875 33.1875C55.1042 33.8333 56.9688 34.7604 
                    58.4688 35.9688C59.9688 37.1562 61.1042 38.6042 61.875 40.3125C62.6458 
                    42 63.0312 43.8958 63.0312 46C63.0312 48.8125 62.375 51.3229 61.0625 
                    53.5312C59.7708 55.7188 57.9167 57.5729 55.5 59.0938C53.1042 60.5938 
                    50.2083 61.7396 46.8125 62.5312C43.4167 63.3021 39.6354 63.6875 35.4688 
                    63.6875C32.7188 63.6875 30.0312 63.5104 27.4062 63.1562C24.7812 62.8229 
                    22.2604 62.3438 19.8438 61.7188C17.4479 61.0729 15.1562 60.3125 12.9688 
                    59.4375C10.8021 58.5417 8.79167 57.5625 6.9375 56.5L12.2188 48.4688ZM73.9062 
                    14.1562H83.8125V26.9062H114.188V14.1562H124.125V63H114.188V35.375H83.8125V63H73.9062V14.1562ZM154.656 
                    14.1562H165.156L188.781 63H178.375L174.469 54.7812H145.938L142.156 63H131.719L154.656 
                    14.1562ZM170.562 46.625L160 24.4375L149.719 46.625H170.562ZM193.5 38.4375C193.5 34.75 
                    194.177 31.375 195.531 28.3125C196.885 25.25 198.781 22.625 201.219 20.4375C203.677 
                    18.2292 206.615 16.5208 210.031 15.3125C213.469 14.1042 217.271 13.5 221.438 
                    13.5C225.583 13.5 229.375 14.1042 232.812 15.3125C236.25 16.5208 239.188 18.2292 
                    241.625 20.4375C244.083 22.625 245.99 25.25 247.344 28.3125C248.698 31.375 249.375 
                    34.75 249.375 38.4375C249.375 41.7292 248.833 44.7812 247.75 47.5938C246.688 50.3854 
                    245.177 52.8646 243.219 55.0312L252 63H239.438L236.406 60.25C234.281 61.375 231.969 
                    62.2292 229.469 62.8125C226.969 63.3958 224.292 63.6875 221.438 63.6875C217.271 
                    63.6875 213.469 63.0729 210.031 61.8438C206.615 60.5938 203.677 58.8542 201.219 
                    56.625C198.781 54.3958 196.885 51.7396 195.531 48.6562C194.177 45.5521 193.5 
                    42.1458 193.5 38.4375ZM203.406 38.4375C203.406 40.9583 203.854 43.2292 204.75 
                    45.25C205.667 47.2708 206.927 49 208.531 50.4375C210.156 51.8542 212.062 52.9479 
                    214.25 53.7188C216.458 54.4896 218.854 54.875 221.438 54.875C224.208 54.875 226.74 
                    54.4375 229.031 53.5625L215.031 40.875H227.594L236.094 48.5938C237.156 47.2396 
                    237.979 45.7188 238.562 44.0312C239.167 42.3229 239.469 40.4583 239.469 38.4375C239.469 
                    35.9167 239.01 33.6562 238.094 31.6562C237.177 29.6562 235.917 27.9688 234.312 26.5938C232.708 
                    25.1979 230.802 24.1354 228.594 23.4062C226.406 22.6771 224.021 22.3125 221.438 22.3125C218.854 
                    22.3125 216.458 22.6771 214.25 23.4062C212.062 24.1354 210.156 25.1979 208.531 26.5938C206.927 
                    27.9688 205.667 29.6562 204.75 31.6562C203.854 33.6562 203.406 35.9167 203.406 38.4375Z"
                    fill="black" />
            </svg>
        </div>
        <script>
            const logo = document.getElementById('logo');

            logo.addEventListener('click', () => {
                window.location.href = '/';
            });
        </script>
        <nav class="header-navigation">
            <ul class="nav">
                <!-- <li><a href="#">Курсы</a></li>
                <li><a href="#">Преподаватели</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">О нас</a></li> -->
                <li><a href="/login">Вход</a></li>
                <li><a href="/register">Регистрация</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="registration-box">
            <div class="forma">
                <h2>Авторизация</h2>
                <form action="/login" method="post" id="login-form">
                    <div class="input-group">
                        <input type="email" name="email" required>
                        <span class="underline"></span>
                        <label for="email">Email *</label>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" id="password" required>
                        <span class="underline"></span>
                        <label for="password">Пароль *</label>
                    </div>
                    <button type="submit" class="button-reg">Войти</button>
                </form>
                <div id="error-message" class="error-message"></div>
                <div class="login-link">
                    <p>Ещё не зарегистрированы? <a href="/register">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('login-form').addEventListener('submit', function (e) {
            e.preventDefault();

            const formData = new FormData(this);

            fetch('/login', {
                method: 'POST',
                body: formData,
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => {
                            if (typeof data.error === 'string') {
                                throw new Error(data.error);
                            } else {
                                throw new Error(JSON.stringify(data));
                            }
                        });
                    }
                    return response;
                })
                .then(() => {
                    window.location.href = '/dashboard';
                })
                .catch(error => {
                    const errorContainer = document.getElementById('error-message');
                    errorContainer.textContent = error.message || 'Произошла неизвестная ошибка';
                });
        });
    </script>
</body>

</html>