@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #c07fd8;
    border-radius: 20px;
    border: 3px solid white;
}

.adm-u-container {
    display: flex;
    height: 100vh;
}

.navigation {
    background-color: white;
    box-shadow: 0 0 20px rgba(192, 127, 216, 0.8);
    padding: 20px;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation ul li {
    padding: 10px 0;
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.navigation ul li a:hover {
    color: #c07fd8;
}

.content-area {
    margin-left: 220px; /* Ширина навигационного меню + отступ */
    padding: 20px;
    width: calc(100% - 220px);
    overflow-y: auto;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.search-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #793f91;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #5b2c72;
}

.user-list {
    display: flex;
    flex-direction: column;
}

.user-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(192, 127, 216, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.user-card:hover {
    box-shadow: 0 0 20px rgba(192, 127, 216, 0.5);
}

.user-card img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.user-card p {
    margin: 0;
    padding: 10px 0;
}
